<template>
    <section class="cta-section gradient-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mt-20">
                    <h2 class="text-white contact-us-title">Would like to start a project with us?</h2>
                    <p class="text-white">Feel free to drop an email (sales@mediusware.com) and share your idea.</p>
                </div>

                <div class="col-lg-6 col-md-6 text-rigth  mt-30">
                    <div class="cta-btn">
                        <router-link class="ct-btn2 active" :to = "'/contact'">
                            Contact Us
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>


<script>
    export default {

        data: function () {
            return {
                // setting: [],
            }
        },
        mounted() {
            // this.getSetting();
        },

        methods: {
            // getSetting(){
            //     var _this = this;
            //     axios.get('/get-setting')
            //         .then(function (resp) {
            //             _this.setting = resp.data
            //         })
            // },
        }

    }
</script>
