.portfolio-section {
  height: 600px;
}

.portfolio-section #content-wrapper {
  position: absolute;
  z-index: 1 !important;
  -webkit-transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  right: 0;
  padding: 30px;
  text-align: left;
  width: 50%;
  min-height: 50%;
}

.portfolio-section .well {
  background: #ffffff;
  opacity: 0.8;
  padding: 30px;
}

.portfolio-section .well h1 {
  font-size: 50px;
}

.portfolio-section .portfolio-text {
  font-size: 22px;
  font-family: none;
  font-style: italic;
}

.portfolio-section .portfolio-bg {
  background: #f7f7f7;
}

.portfolio-section .portfolio-title1 {
  margin-top: 1%;
  background: -webkit-gradient(linear, right top, left top, from(white), color-stop(black), to(white));
  background: linear-gradient(to left, white, black, white);
  background-size: 100% 2px;
  background-position: bottom 0 left 0, bottom 5px left 0;
  background-repeat: no-repeat;
  padding-bottom: 8px;
  font-size: 35px;
}

.portfolio-section .portfolio-img {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.5);
}

.portfolio-section .portfilio-feature-list li {
  line-height: 50px;
}

@media (max-width: 767px) {
  .portfolio-section #content-wrapper {
    position: absolute;
    padding: 0;
    text-align: left;
    left: 0;
    right: 0;
  }

  .portfolio-section .well h1 {
    font-size: 30px;
  }
}

.job-item span.text-muted {
  padding-left: 10px;
}

.job-item span.d-block {
  margin-left: 32px;
  font-weight: 600;
}

