<template>
    <div>
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h1>4<span>0</span>4</h1>
                </div>
                <h2>the page you requested could not found</h2>
                <router-link  :to = "'/'"class="genric-btn2 mr-sm-3"><i class="fa fa-home"></i> Back to Home</router-link>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        title: '404',
        mounted() {

        }
    }
</script>
