<template>
    <div>

        <section class="client-review-section section-gap">
            <div class="container">

                <div class="row justify-content-center section-title-wrap">
                    <div class="col-lg-12">
                        <div class="title-img">
                            <img :src="'/assets/img/team.png'" alt="We are Mediusware">
                        </div>
                        <h1>We are <span class="text-info">Mediusware</span></h1><br>
                        <p>"Alone we can do so little; together we can do so much." – Helen Keller</p>
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-lg-4 col-md-4 col-sm-12 single-team " v-for="team in teams">
                        <router-link :to="{name: 'teamDetails', params: {slug: team.slug}}">
                            <div class="our-team">
                                <div v-if="team.avatar" class="pic"><img :src="'/media/team/'+team.avatar"></div>
                                <div v-else="" class="pic"><img :src="'/media/user.jpg'"></div>
                                <div class="team-content">
                                    <h3 class="title">{{ team.name }}</h3>
                                    <span class="post">{{ team.designation }}</span>
                                    <span class="post">{{ team.important_skills }}</span>
                                </div>
                                <p class="social">
                                    <span class="text-white">{{ team.tag_line }}</span>
                                </p>
                            </div>
                        </router-link>
                    </div>

                </div>
            </div>
        </section>


        <transition-group name="slide-fade">
            <template v-if="contentShow">

                <!-- Start about section -->
                <section class="about-section section-gap" :key="indx" v-bind:class="{ 'aquablue-bg': (indx % 2 === 0) }" v-for="(obj, indx) in abouts">
                    <div class="container">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-6 text-center" v-if="indx % 2 === 0">
                                <img class="img-fluid" :src="'/media/about/'+ obj.image" :alt="obj.title">
                            </div>
                            <div class="col-lg-6 about-left">
                                <h1 class="about-title">{{obj.title}}</h1>
                                <p class="pt-20 pb-20 fadeInUp" v-html="obj.description"></p>
                            </div>
                            <div class="col-lg-6 text-center" v-if="indx % 2 !== 0">
                                <img class="img-fluid" :src="'/media/about/'+ obj.image" :alt="obj.title">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End about section -->
            </template>
        </transition-group>



        <!-- End client-review section -->
        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage">
            </loading>
        </div>
    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import Slider from "./includes/slider";

    export default {
        title: 'About',

        components: {
            Slider,
            Loading
        },

        data: function () {
            return {
                abouts: [],
                isLoading: true,
                fullPage: true,
                contentShow: false,
                teams: [],
            }
        },

        mounted() {
            this.getAbouts();
            this.getTeams()
            // this.pageScript();
        },

        methods: {
            getAbouts(page){
                var _this = this;
                axios.get('/get-abouts')
                    .then(function (resp) {
                        _this.abouts = resp.data;
                        setTimeout(function(){
                            _this.isLoading = false;
                            _this.contentShow = true;
                        }, 500);
                    })
            },

            getTeams(){
                var _this = this;
                axios.get('/get-teams')
                    .then(function (resp) {
                        _this.teams = resp.data
                    })
            },

            pageScript(){

                $(document).ready(function() {
                    $('.active-review-carusel2').owlCarousel({
                        items: 1,
                        loop: true,
                        margin: 30,
                        // autoplay: true,
                        autoplayTimeout: 4000,
                        autoplayHoverPause: true,
                        smartSpeed: 800,
                    });
                })

            }

        }
    }
</script>
<style scoped>
    .slide-fade-enter-active {
        transition: all .8s ease;
    }
    .slide-fade-leave-active {
        transition: all .15s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to {
        transform: translateX(100px);
        opacity: 0;
    }

</style>
