<template>
    <div>
        <section class="blog-post-list section-gap aquablue-bg">
            <div class="container">

                <div class="row justify-content-center section-title-wrap">
                    <div class="col-lg-12">
                        <div class="title-img">
                            <img :src="'/assets/img/title-icon.png'" alt="Our Careers">
                        </div>
                        <h1>Our <span class="text-info">Careers</span></h1><br>
                        <p>Where innovation happens every day, where potential grows and develops, where we unlock opportunities and drive transformation. We are diverse and happy, creative and inspirational. Come and find out what makes us such!</p>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-12 mt-30" v-for="(career, index) in careers" v-if="careers.length > 0">
                        <div class="single-card card career-single">
                            <div class="row">
                                <div class="col-lg-3">
                                    <router-link :to="{name: 'careerDetails', params: {slug: career.slug}}">
                                        <img v-if="career.image" class="card-top-img img-fluid img-thumbnail" :src="'/media/career/'+career.image" alt="Card image cap">
                                        <img v-else class="card-top-img img-fluid img-thumbnail" :src="'/assets/img/careers.png'" alt="Card image cap">
                                    </router-link>
                                </div>

                                <div class="col-lg-9">
                                    <div class="card-body">
                                        <div>
                                            <router-link :to="{name: 'careerDetails', params: {slug: career.slug}}">
                                                <h4 class="card-title">{{ career.title }}</h4>
                                            </router-link>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="m-0-xs pb-30">
                                                    <span>
                                                        <router-link :to="{name: 'careerDetails', params: {slug: career.slug}}" class="card-link">
                                                            <span v-if="career.job_context.length< 250 " v-html="career.job_context"></span>
                                                            <span v-else v-html="career.job_context.substring(0,250)+'...'"></span>
                                                        </router-link>
                                                        <br>
                                                    </span>
                                                    <span><router-link :to="{name: 'careerDetails', params: {slug: career.slug}}" class="card-link"><i class="fas fa-shopping-bag"></i>Experience: <span v-html="career.experience_requirements"></span></router-link><br></span>
                                                    <span><router-link :to="{name: 'careerDetails', params: {slug: career.slug}}" class="card-link"><i class="fas fa-calendar"></i>Deadline: {{ formatDate(career.deadline) }}</router-link><br></span>
                                                    <router-link :to="{name: 'careerDetails', params: {slug: career.slug}}" class="genric-btn card-btn">
                                                       View Details
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center" v-if="careers.length === 0">
                        <div class="alert alert-danger" role="alert">
                            Circular not available
                        </div>
                    </div>


                </div>
                <div v-if="careerDate" class="col-md-12 mt-5 align-items-center">
                    <pagination :data="careerDate" v-on:pagination-change-page="getCareers"></pagination>
                </div>
            </div>
        </section>

        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage">
            </loading>
        </div>
    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import pagination from 'laravel-vue-pagination'


    export default {
        title: 'Careers',
        components: {
            Loading,
            pagination
        },
        data: function () {
            return {
                careers: [],
                careerDate: null,
                isLoading: false,
                fullPage: true,
            }
        },

        mounted() {
            this.getCareers(1);
            this.isLoading = true;
        },
        methods: {
            getCareers(page){
                var _this = this;
                if (typeof page === 'undefined') {
                    page = 1;
                }
                let url = '/get-careers';
                axios.get(url+'?page=' + page)
                    .then(function (resp) {
                        if (resp.data.data){
                            _this.isLoading = false
                        }
                        _this.careers = resp.data.data;
                        _this.careerDate = resp.data;
                    })
            },

            formatDate(date) {
                var d = new Date(date);
                var monthNames = [
                    "January", "February", "March",
                    "April", "May", "June", "July",
                    "August", "September", "October",
                    "November", "December"
                ];
                var day = d.getDate();
                var monthIndex = d.getMonth();
                var year = d.getFullYear();

                return day + ' ' + monthNames[monthIndex] + ' ' + year;
            }

        }
    }
</script>
