<template>
    <div>
        <section class="blog-post section-gap crDetails">
            <div class="details-body">
                <div class="container">
                    <div class="row">
                        <!-- Start Blog Details -->
                        <div class="col-lg-8">
                            <h2 class="head text-info mb-20">{{ careerObj.title }}</h2>

                            <div class="mb-20" v-if="careerObj.image">
                                <img class="img-fluid img-thumbnail" style="width: 100%" :src="'/media/career/'+careerObj.image" :alt="careerObj.title">
                            </div>

                            <div v-if="careerObj.vacancy">
                                <h4 class="head text-info">Vacancy</h4>
                                <p class="tab-margin">{{ careerObj.vacancy }}</p>
                            </div>

                            <div v-if="careerObj.job_context">
                                <h4 class="head text-info">Job Context</h4>
                                <p class="tab-margin" v-html="careerObj.job_context"></p>
                            </div>

                            <div class="job-list" v-if="careerObj.job_responsibilities">
                                <h4 class="head text-info">Job Responsibilities</h4>
                                <p class="tab-margin" v-html="careerObj.job_responsibilities"></p>
                            </div>

                            <div v-if="careerObj.employment_status">
                                <h4 class="head text-info">Employment Status</h4>
                                <p class="tab-margin">{{ careerObj.employment_status }}</p>
                            </div>

                            <div v-if="careerObj.educational_requirements">
                                <h4 class="head text-info">Educational Requirements</h4>
                                <p class="tab-margin" v-html="careerObj.educational_requirements"></p>
                            </div>
                            <div v-if="careerObj.experience_requirements">
                                <h4 class="head text-info">Experience Requirements</h4>
                                <p class="tab-margin" v-html="careerObj.experience_requirements"></p>
                            </div>

                            <div class="job-list" v-if="careerObj.additional_requirements">
                                <h4 class="head text-info">Additional Requirements</h4>
                                <p class="tab-margin" v-html="careerObj.additional_requirements"></p>
                            </div>

                            <div v-if="careerObj.salary">
                                <h4 class="head text-info">Salary</h4>
                                <p class="tab-margin">{{ careerObj.salary }}</p>
                            </div>

                            <div class="job-list" v-if="careerObj.other_benefits">
                                <h4 class="head text-info">Compensation & Other Benefits</h4>
                                <p class="tab-margin" v-html="careerObj.other_benefits"></p>
                            </div>


                            <div v-if="careerObj.deadline">
                                <h4 class="head text-info">Deadline</h4>
                                <p class="tab-margin">{{ formatDate(careerObj.deadline) }}</p>
                            </div>

                            <div class="alert alert-success text-center" role="alert">
                                <div class="text-center" v-if="careerObj.read_before_apply">
                                    <h4 class="head text-info">Read Before Apply</h4>
                                    <p v-html="careerObj.read_before_apply"></p>
                                </div>

                                <div v-if="careerObj.apply_email">
                                    <p>Send your cv - <strong class="text-danger">{{ careerObj.apply_email }}</strong></p>
                                </div>
                            </div>


                        </div>
                        <!-- End Blog Details -->
                        <!--                        Job summery start-->
                        <div class="col-md-4">
                            <h4 class="head text-info pt-md-5">Job Summary:</h4>
                            <p class="job-item">
                                <i class="fas fa-map-marker-alt"></i> <span class="text-muted">Location</span>
                                <span class="d-block">Ring road, House 18/5,<br> Floor - 3rd Dhaka, 1207</span>
                            </p>

                            <p class="job-item">
                                <i class="fas fa-briefcase"></i> <span class="text-muted">Job Type</span>
                                <span class="d-block">{{ careerObj.employment_status }}</span>
                            </p>

                            <p class="job-item">
                                <i class="far fa-calendar-alt"></i> <span class="text-muted">Date Posted</span>
                                <span class="d-block">{{ careerObj.updated_at | date }}</span>
                            </p>

                            <p class="job-item">
                                <i class="fas fa-file-alt"></i> <span class="text-muted">Experience</span>
                                <span class="d-block" v-html="careerObj.experience_requirements"></span>
                            </p>

                            <p class="job-item">
                                <i class="far fa-clock"></i> <span class="text-muted">Working Hours</span>
                                <span class="d-block">9 AM – 6 PM</span>
                            </p>
                            <p class="job-item">
                                <i class="far fa-money-bill-alt"></i> <span class="text-muted">Salary</span>
                                <span class="d-block">{{ careerObj.salary }}</span>
                            </p>
                            <p class="job-item">
                                <i class="far fa-calendar-check"></i> <span class="text-muted">Working Days</span>
                                <span class="d-block">
                                    Weekly: 5 days. <br> Weekend: Saturday, Sunday.
                                </span>
                            </p>

                            <p class="job-item">
                                <i class="fas fa-search-plus"></i> <span class="text-muted">Vacancy</span>
                                <span class="d-block">
                                   No. of Vacancies: {{ careerObj.vacancy }}
                                </span>
                            </p>
                        </div>
                        <!--                        Job summery end-->

                        <div class="col-lg-4" style="display: none">
                            <div class="side-bar">

                                <!-- Start Social Profile -->
                                <div class="social-profile">
                                    <h3 class="blog-title">Share On</h3>
                                    <button class="genric-btn mb-10">
                                        <i class="fab fa-facebook"></i>
                                        Facebook
                                    </button>
                                    <button class="genric-btn mb-10">
                                        <i class="fab fa-twitter"></i>
                                        twitter
                                    </button>
                                    <button class="genric-btn mb-10">
                                        <i class="fab fa-google-plus-square"></i>
                                        google plus
                                    </button>
                                    <button class="genric-btn mb-10">
                                        <i class="fab fa-behance-square"></i>
                                        behance
                                    </button>
                                    <button class="genric-btn mb-10">
                                        <i class="fab fa-dribbble-square"></i>
                                        dribble
                                    </button>
                                    <button class="genric-btn mb-10">
                                        <i class="fab fa-linkedin"></i>
                                        linkdin
                                    </button>
                                    <button class="genric-btn mb-10">
                                        <i class="fab fa-instagram"></i>
                                        instagram
                                    </button>
                                    <button class="genric-btn mb-10">
                                        <i class="fab fa-youtube"></i>
                                        youtube
                                    </button>
                                </div>
                                <!-- End Social Profile -->
                            </div>
                            <!-- End Blog Sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage"></loading>
        </div>
    </div>
</template>


<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import HireUs from "./includes/hire-us";

    export default {
        title: 'Career | Details',
        data: function () {
            return {
                careerSlug: null,
                career: [],
                careerObj: [],
                isLoading: false,
                fullPage: true,
                technologies: [],
                clients: [],
            }
        },

        components: {
            HireUs,
            Loading
        },

        mounted() {
            this.isLoading = true;
            this.getCareer();
        },

        methods: {
            getCareer() {
                let _this = this;
                let slug = _this.$route.params.slug;
                _this.careerSlug = slug;
                axios.get('/get-career-details/' + slug)
                    .then(function (resp) {
                        // console.log(resp.data.obj)
                        _this.career = resp.data;
                        _this.careerObj = resp.data.obj;
                        console.log(resp.data.obj);
                        if (resp.data) {
                            _this.isLoading = false
                        }
                    })
                    .catch(function () {
                        alert("Could not load your data")
                    });
            },

            formatDate(date) {
                var d = new Date(date);
                var monthNames = [
                    "January", "February", "March",
                    "April", "May", "June", "July",
                    "August", "September", "October",
                    "November", "December"
                ];
                var day = d.getDate();
                var monthIndex = d.getMonth();
                var year = d.getFullYear();
                return day + ' ' + monthNames[monthIndex] + ' ' + year;
            }
        }
    }
</script>

<style>
    .crDetails ol,
    .crDetails ul {
        list-style: inside !important;
    }

    .tab-margin {
        margin: 5px 0 20px 30px;
    }
</style>
