<template>
    <div>
        <section class="blog-post section-gap crDetails">
            <div class="details-body">
                <div class="container">
                    <div class="row">
                        <!-- Start Blog Details -->
                        <div class="col-lg-12">
                            <h2 class="head mb-0 text-info font-weight-bold">{{ careerObj.title }}</h2>

                            <!--<div class="mb-20" v-if="careerObj.image">
                                &lt;!&ndash;<img class="img-fluid img-thumbnail" style="width: 100%" :src="'/media/career/'+careerObj.image" :alt="careerObj.title">&ndash;&gt;
                                <img class="img-fluid img-thumbnail" style="width: 100%" :src="'https://mediusware.com/media/career/1589822667.jpg'" :alt="careerObj.title">
                            </div>-->
                            <p class="job-item text-info">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="">Dhaka, Bangladesh</span>
                            </p>

                            <div class="my-5" v-if="careerObj.job_context">
                                <h4 class="head font-weight-bold">Job Context</h4>
                                <p class="tab-margin" v-html="careerObj.job_context"></p>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <h4 class="head font-weight-bold">Job Requirements:</h4>
                                    <div class="job-list" v-if="careerObj.additional_requirements">
                                        <p class="tab-margin" v-html="careerObj.additional_requirements"></p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="job-list" v-if="careerObj.job_responsibilities">
                                        <h4 class="head font-weight-bold">Job Responsibilities:</h4>
                                        <p class="tab-margin" v-html="careerObj.job_responsibilities"></p>
                                    </div>
                                </div>
                                <!--<div class="col-12 col-md-6">
                                    <div v-if="careerObj.experience_requirements">
                                        <h4 class="head ">Experience Requirements</h4>
                                        <p class="tab-margin" v-html="careerObj.experience_requirements"></p>
                                    </div>
                                </div>-->
                                <div class="col-12 col-md-6">

                                    <div v-if="careerObj.educational_requirements">
                                        <h4 class="head font-weight-bold">Educational Requirements:</h4>
                                        <p class="tab-margin" v-html="careerObj.educational_requirements"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center text-info">
                                <div class="text-center col-md-offset-1 col-md-3">
                                    <span class="my-3 fa fa-tasks fa-4x" data-original-title="" title="" style=""></span>
                                    <div>
                                        <h4 class="head font-weight-bold">Experience Requirments</h4>
                                        <p class="text-secondary pt-2" style="line-height: 20px;" v-html="careerObj.experience_requirements"></p>
                                    </div>
                                </div>
                                <div v-if="careerObj.vacancy" class="text-center col-md-3">
                                    <span class="my-3 fa fa-search fa-4x" data-original-title="" title="" style=""></span>
                                    <div>
                                        <h4 class="head font-weight-bold">Vacancy</h4>
                                        <p class="text-secondary pt-2" style="line-height: 20px;">{{ careerObj.vacancy }}</p>
                                    </div>
                                </div>
                                <div v-if="careerObj.employment_status" class="text-center col-md-3">
                                    <span class="my-3 fa fa-text-height fa-4x" data-original-title="" title="" style=""></span>
                                    <div>
                                        <h4 class="head font-weight-bold">Job Type</h4>
                                        <p class="text-secondary pt-2" style="line-height: 20px;">{{ careerObj.employment_status }}</p>
                                    </div>
                                </div>
                                <div v-if="careerObj.salary" class="text-center col-md-3">
                                    <!--<span class="my-3 fa fa-usd fa-4x" style="" data-original-title="" title=""></span>-->
                                    <span class="my-3 fa fa-credit-card fa-4x" style="" data-original-title="" title=""></span>
                                    <div>
                                        <h4 class="head font-weight-bold">Salary</h4>
                                        <p class="text-secondary pt-2" style="line-height: 20px;">{{ careerObj.salary }}</p>
                                    </div>
                                </div>
                                <div v-if="careerObj.deadline" class="text-center col-md-3">
                                    <!--<span class="my-3 fa fa-usd fa-4x" style="" data-original-title="" title=""></span>-->
                                    <span class="my-3 fa fa-calendar fa-4x" style="" data-original-title="" title=""></span>
                                    <div>
                                        <h4 class="head font-weight-bold">Deadline</h4>
                                        <p class="text-secondary pt-2" style="line-height: 20px;">{{ formatDate(careerObj.deadline) }}</p>
                                    </div>
                                </div>
                                <div v-if="careerObj.deadline" class="text-center col-md-3">
                                    <!--<span class="my-3 fa fa-usd fa-4x" style="" data-original-title="" title=""></span>-->
                                    <span class="my-3 far fa-calendar-check fa-4x" style="" data-original-title="" title=""></span>
                                    <div>
                                        <h4 class="head font-weight-bold">Working Days</h4>
                                        <p class="text-secondary pt-2" style="line-height: 20px;"
                                           v-html="'Weekly: 5 days. <br> Weekend: Saturday, Sunday.'"></p>
                                    </div>
                                </div>
                                <div v-if="careerObj.deadline" class="text-center col-md-3">
                                    <!--<span class="my-3 fa fa-usd fa-4x" style="" data-original-title="" title=""></span>-->
                                    <span class="my-3 fa fa-clock fa-4x" style="" data-original-title="" title=""></span>
                                    <div>
                                        <h4 class="head font-weight-bold">Working Hours</h4>
                                        <p class="text-secondary pt-2" style="line-height: 20px;">{{ '9 AM – 6 PM' }}</p>
                                    </div>
                                </div>
                                <div v-if="careerObj.deadline" class="text-center col-md-3">
                                    <span class="my-3 far fa-calendar-plus fa-4x" style="" data-original-title="" title=""></span>
                                    <div>
                                        <h4 class="head font-weight-bold">Date Posted</h4>
                                        <p class="text-secondary pt-2" style="line-height: 20px;">{{ careerObj.updated_at | date }}</p>
                                    </div>
                                </div>
                                <!--<div class="text-center col-md-2">
                                    <span class="my-3 fa fa-th-large fa-4x" data-original-title="" title="" style=""></span>
                                    <div>
                                        <h4 class="mt8 mb0">Job Catagory</h4>
                                        <p class="text-secondary pt-2" style=line-height: 20px;">Sales, Business Development</p>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border: 2px solid #ddd;"/>
                <div class="container">
                    <div class="row">
                        <!-- Start Blog Details -->
                        <div class="col-lg-12">
                            <div class="row mt-3 mb-5">
                                <div v-if="careerObj.other_benefits" class="col-md-4 mb16 mt16 text-center">
                                    <span class="text-info my-3 fa fa-2x fa-heart"></span>
                                    <h4 class="mb0 mt8">Benefits</h4>
                                    <p>{{ careerObj.other_benefits.replace(/<\/?[^>]+(>|$)/g,"") }}</p>
                                </div>
                                <div class="text-center mt16 mb16 col-md-4">
                                    <span class="text-info my-3 fa fa-2x fa-sun" data-original-title="" title=""></span>
                                    <h4 class="mt8 mb0">PTOs</h4>
                                    <p>Vacation, Sick, and paid leaves</p>
                                </div>
                                <div class="text-center mt16 mb16 col-md-4">
                                    <span class="text-info my-3 fa fa-2x fa-coffee" data-original-title="" title=""></span>
                                    <h4 class="mb0 mt8">Eat &amp; Drink</h4>
                                    <p>Lunch, Snacks, Tea, Coffee facility</p>
                                </div>
                                <div class="text-center mt16 mb16 col-md-4">
                                    <span class="text-info my-3 fa fa-2x fa-calendar"></span>
                                    <h4 class="mt8 mb0">Sponsored Events</h4>
                                    <p style="line-height: 20px;">
                                        <!--Team Dinners, Monthly Lunch Mixers, Celebration of the traditional cultural festival, Annual day event, Team Outing-->
                                        Team Dinners, Monthly Lunch Mixers, Annual day event, Team Outing
                                    </p>
                                </div>
                                <div class="text-center mt16 mb16 col-md-4">
                                    <span class="text-info my-3 fa fa-2x fa-futbol" data-original-title="" title=""></span>
                                    <h4 class="mt8 mb0">Sport Activity</h4>
                                    <p style="line-height: 20px;">participating every year in ISCT20 &amp; Futsal tournament</p>
                                </div>
                                <div class="text-center mt16 mb16 col-md-4">
                                    <span class="text-info my-3 fa fa-2x fa-map-marker-alt" data-original-title="" title=""></span>
                                    <h4 class="mt8 mb0">Location</h4>
                                    <p style="line-height: 20px;">Ring road, House 18/5,<br/>Floor - 3rd Dhaka, 1207</p>
                                </div>
                            </div>

                            <!--<div class="job-list mb-5" v-if="careerObj.other_benefits">
                                <h4 class="head ">Compensation & Other Benefits</h4>
                                <p class="tab-margin" v-html="careerObj.other_benefits"></p>
                            </div>-->
                            <div class="row">
                                <div class="col-md-4 mt32 mb0">
                                    <img class="img img-responsive w-100" src="/career/1.jpg" alt="img" data-original-title="" title="">
                                    <h4 class="mt16">&nbsp;</h4>
                                    <p>&nbsp;</p>
                                </div>
                                <div class="col-md-4 mt32 mb0">
                                    <img class="img img-responsive w-100" src="/career/2.jpg" alt="img" data-original-title="" title="">
                                    <h4 class="mt16">&nbsp;</h4>
                                    <p>&nbsp;</p>
                                </div>
                                <div class="col-md-4 mt32 mb0">
                                    <img class="img img-responsive w-100" src="/career/3.jpg" alt="img" data-original-title="" title="">
                                    <h4 class="mt16">&nbsp;</h4>
                                    <p><br></p>
                                </div>
                                <div class="col-md-4 mt32 mb0">
                                    <img class="img img-responsive w-100" src="/career/4.jpg" alt="img" data-original-title="" title="">
                                    <h4 class="mt16">&nbsp;</h4>
                                    <p><br></p>
                                </div>
                                <div class="col-md-4 mt32 mb0">
                                    <img class="img img-responsive w-100" src="/career/5.jpg" alt="img" data-original-title="" title="">
                                    <h4 class="mt16">&nbsp;</h4>
                                    <p><br></p>
                                </div>
                                <div class="col-md-4 mt32 mb0">
                                    <img class="img img-responsive w-100" src="/career/6.jpg" alt="img" data-original-title="" title="">
                                    <h4 class="mt16">&nbsp;</h4>
                                    <p><br></p>
                                </div>
                            </div>

                            <div class="alert alert-success text-center" role="alert">
                                <div class="text-center" v-if="careerObj.read_before_apply">
                                    <h4 class="head ">Read Before Apply</h4>
                                    <p v-html="careerObj.read_before_apply"></p>
                                </div>

                                <div v-if="careerObj.apply_email">
                                    <p>Send your cv - <strong class="text-danger">{{ careerObj.apply_email }}</strong></p>
                                </div>
                            </div>
                        </div>
                        <!-- End Blog Details -->
                        <!-- Job summery end-->
                        <div class="col-lg-4" style="display: none">
                            <div class="side-bar">

                                <!-- Start Social Profile -->
                                <div class="social-profile">
                                    <h3 class="blog-title">Share On</h3>
                                    <button class="genric-btn mb-10">
                                        <i class="fab fa-facebook"></i>
                                        Facebook
                                    </button>
                                    <button class="genric-btn mb-10">
                                        <i class="fab fa-twitter"></i>
                                        twitter
                                    </button>
                                    <button class="genric-btn mb-10">
                                        <i class="fab fa-google-plus-square"></i>
                                        google plus
                                    </button>
                                    <button class="genric-btn mb-10">
                                        <i class="fab fa-behance-square"></i>
                                        behance
                                    </button>
                                    <button class="genric-btn mb-10">
                                        <i class="fab fa-dribbble-square"></i>
                                        dribble
                                    </button>
                                    <button class="genric-btn mb-10">
                                        <i class="fab fa-linkedin"></i>
                                        linkdin
                                    </button>
                                    <button class="genric-btn mb-10">
                                        <i class="fab fa-instagram"></i>
                                        instagram
                                    </button>
                                    <button class="genric-btn mb-10">
                                        <i class="fab fa-youtube"></i>
                                        youtube
                                    </button>
                                </div>
                                <!-- End Social Profile -->
                            </div>
                            <!-- End Blog Sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage"></loading>
        </div>
    </div>
</template>


<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import HireUs from "./includes/hire-us";

export default {
    title: 'Career | Details',
    data: function () {
        return {
            careerSlug: null,
            career: [],
            careerObj: [],
            isLoading: false,
            fullPage: true,
            technologies: [],
            clients: [],
        }
    },

    components: {
        HireUs,
        Loading
    },

    mounted() {
        this.isLoading = true;
        this.getCareer();
    },

    methods: {
        getCareer() {
            let _this = this;
            let slug = _this.$route.params.slug;
            _this.careerSlug = slug;
            axios.get('/get-career-details/' + slug)
                .then(function (resp) {
                    // console.log(resp.data.obj)
                    _this.career = resp.data;
                    _this.careerObj = resp.data.obj;
                    console.log(resp.data.obj);
                    if (resp.data) {
                        _this.isLoading = false
                    }
                })
                .catch(function () {
                    alert("Could not load your data")
                });
        },

        formatDate(date) {
            var d = new Date(date);
            var monthNames = [
                "January", "February", "March",
                "April", "May", "June", "July",
                "August", "September", "October",
                "November", "December"
            ];
            var day = d.getDate();
            var monthIndex = d.getMonth();
            var year = d.getFullYear();
            return day + ' ' + monthNames[monthIndex] + ' ' + year;
        }
    }
}
</script>

<style>
.crDetails ol,
.crDetails ul {
    list-style: inside !important;
}

.tab-margin {
    margin: 5px 0 20px 30px;
}
</style>
