<template>
    <div>

        <section class="stat-section section-gap feature-section" v-bind:style="{ backgroundImage:  'linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(' + feature.image + ')' }">
            <div class="container">
                <div class="row justify-content-center section-title-wrap mt-30">
                    <div class="col-lg-12">
                        <div class="title-img">
                            <img :src="'/assets/img/title-icon.png'" :alt="featureObj.title">
                        </div>
                        <h1 class="text-white">{{ featureObj.title }}</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="blog-post section-gap">
            <div class="details-body">
                <div class="container">
                    <p v-html="featureObj.short_description"></p>
                    <hr>
                    <p v-html="featureObj.description"></p>
                </div>
            </div>
            <div class="back-button" >
                <router-link class="btn third"  :to = "'/features'">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true"> Back To Feature</i>
                </router-link>
            </div>
        </section>

        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage">
            </loading>
        </div>

    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        title: 'Portfolio | Details',
        data: function () {
            return {
                featureSlug: null,
                feature: [],
                featureObj: [],
                isLoading: false,
                fullPage: true
            }
        },

        components:{
            Loading
        },

        mounted() {
            let _this = this;
            this.isLoading = true;
            this.getFeature();

        },

        methods: {
            getFeature(){
                let _this = this;
                let slug = _this.$route.params.slug;
                _this.featureSlug = slug;
                axios.get('/get-feature-details/' + slug)
                    .then(function (resp) {
                        console.log(resp.data.obj)
                        _this.feature = resp.data;
                        _this.featureObj = resp.data.obj;
                        if (resp.data){
                            _this.isLoading = false
                        }
                    })
                    .catch(function () {
                        alert("Could not load your data")
                    });
            },
        }
    }
</script>
