
<template>
    <div>
        <section class="bl-panel-items" id="bl-panel-work-items">
            <div class="container">
                <div class="row justify-content-center section-title-wrap" style="padding: 50px 0">
                    <div class="col-lg-12">
                        <div class="title-img">
                            <img :src="'/assets/img/title-icon.png'" alt="Features">
                        </div>
                        <h1>Mediusware <span class="text-info">features</span>!</h1><br>
                        <p>We are too creative, have a look our features then you believe!</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-section section-gap" v-bind:class="{ 'aquablue-bg': (indx % 2 === 0) }" v-for="(obj, indx) in features" style="padding: 0">
            <div class="container">
                <div class="row align-items-center justify-content-between">

                    <div class="col-lg-6 text-center" v-if="indx % 2 === 0">
                        <router-link :to="{name: 'featureDetails', params: {slug: obj.slug}}">
                            <img  :src="'/media/feature/'+ obj.image" style="width: 100%; height: 100%" :alt="obj.title">
                        </router-link>
                    </div>
                    <div class="col-lg-6 about-left">
                        <router-link :to="{name: 'featureDetails', params: {slug: obj.slug}}">
                            <h1>{{obj.title}}</h1>
                        </router-link>
                        <p class="pt-20 pb-20 fadeInUp" v-html="obj.short_description"></p>
                    </div>
                    <div class="col-lg-6 text-center" v-if="indx % 2 !== 0">
                        <router-link :to="{name: 'featureDetails', params: {slug: obj.slug}}">
                            <img :src="'/media/feature/'+ obj.image" :alt="obj.title" style="width: 100%; height: 100%">
                        </router-link>
                    </div>
                </div>

            </div>
        </section>

        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage">
            </loading>
        </div>
    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        title: 'Feature',

        components: {
            Loading
        },

        data: function () {
            return {
                features: [],
                isLoading: false,
                fullPage: true,
            }
        },

        mounted() {
            this.getFeatures();
            this.isLoading = true;
        },
        methods: {
            getFeatures(){
                var _this = this;
                axios.get('/get-features')
                    .then(function (resp) {
                        // console.log(resp.data)
                        if (resp.data){
                            _this.isLoading = false
                        }
                        _this.features = resp.data
                    })
            },

        }
    }
</script>
<style scoped>
    @media (max-width: 767px) {
        h1{
            font-size: 28px!important;
            margin-top: 10px;
        }
        p{
            text-align: justify;
        }
    }
</style>
