<template>
    <div>

        <section class="latest-blog-section section-gap aquablue-bg">
            <div class="container">
                <div class="row justify-content-center section-title-wrap mb-50">
                    <div class="col-lg-12">
                        <div class="title-img">
                            <img :src="'/assets/img/title-icon.png'" alt="Our Partners">
                        </div>
                        <h1>Our Partners</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3" v-for="partner in partners">
                        <div class="single-card card text-center">
                            <img :src="'/media/partner/'+ partner.image" :alt="partner.name" width="100%">
                            <div class="card-body">
                                <h4 class="card-title mb-4">{{ partner.name }}, {{ partner.country }}</h4>
                                <p class="text-justify" v-html="partner.about"></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- End client-review section -->
        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage">
            </loading>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import Slider from "./includes/slider";
    import vueNiceScrollbar from 'vue-nice-scrollbar'


    export default {
        title: 'Our Partner',

        components: {
            Loading
        },

        data: function () {
            return {
                partners: [],
                isLoading: true,
                fullPage: true,
                contentShow: false,
            }
        },

        mounted() {
            this.pageScript();
            this.getPartners();
        },

        methods: {

            getPartners(){
                var _this = this;
                axios.get('/get-partners')
                    .then(function (resp) {
                        _this.partners = resp.data;
                        _this.isLoading = false;
                    })
            },

            pageScript(){
                $(document).ready(function() {
                    $('.active-review-carusel2').owlCarousel({
                        items: 1,
                        loop: true,
                        margin: 30,
                        // autoplay: true,
                        autoplayTimeout: 4000,
                        autoplayHoverPause: true,
                        smartSpeed: 800,
                    });
                })

            }

        }
    }
</script>
<style scoped>
    .slide-fade-enter-active {
        transition: all .8s ease;
    }
    .slide-fade-leave-active {
        transition: all .15s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to {
        transform: translateX(100px);
        opacity: 0;
    }

    /*.single-card {*/
    /*    height: 400px;*/
    /*    overflow-x: hidden;*/
    /*}*/


</style>
