<template>
    <div>

        <div class="d-flex" id="wrapper" style="margin-top: -10px">
            <!-- Sidebar -->
            <div class="border-right portfolio-sitebar" id="sidebar-wrapper">
                <div class="sidebar-heading">Portfolio Category</div>
                <div class="list-group list-group-flush">

                    <div class="proCat">
                        <span>
                            <a @click="getPortfolios()" style="cursor: pointer" id="all" class="list-group-item list-group-item-action">All Projects</a>
                        </span>
                        <span v-for="category in categories">
                            <a @click="getPortfolios(category.slug)" style="cursor: pointer;" class="list-group-item list-group-item-action">{{ category.title }}</a>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <nav class="navbar portfolio-navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" id="menu-toggle"><span class="navbar-toggler-icon"></span></button>
                </nav>

                <section class="latest-blog-section section-gap">
                    <div class="portfolio-container">

                        <div class="row justify-content-center section-title-wrap" style="padding: 20px 0">
                            <div class="col-lg-12">
                                <div class="title-img">
                                    <img :src="'/assets/img/title-icon.png'" alt="Mediusware Portfolio">
                                </div>
                                <h1>Mediusware <span class="text-info">Portfolio</span> </h1><br>
                                <p>Have a look, what we done for our clients!</p>
                            </div>
                        </div>

                        <div class="row">
                            <div v-for="(mainData, index) in categoryByPortfolio" class="col-sm-6 col-md-4 col-lg-4 fig">
                                <div class="column" style="visibility: visible; animation-name: bounceInDown;">
                                    <div class="post-module">
                                        <router-link :to="{name: 'portfolioDetails', params: {slug: mainData.portfolios.slug}}">
                                            <div class="thumbnail">
                                                <img :src="'/media/portfolio/'+mainData.portfolios.image" class="img-responsive" alt="JBlog">
                                            </div>
                                                <div class="post-content">
<!--                                                    <div class="category"> {{ portfolio.category_title }}</div>-->
                                                    <h2 class="title text-limit-1"> {{ mainData.portfolios.title }} </h2>
                                                    <p class="description">Service Provided: {{ mainData.portfolios.service_provided }}</p>
                                                </div>
                                        </router-link>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage">
            </loading>
        </div>
    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import pagination from 'laravel-vue-pagination'
    export default {
        title: 'Portfolios',
        components: {
            Loading,
            pagination
        },
        data: function () {
            return {
                categories: [],
                categoryByPortfolio: [],
                portfolioData: null,
                isLoading: false,
                fullPage: true,
            }
        },

        mounted() {
            let _this = this
            setTimeout(function(){ _this.portfolioScript(); }, 1000);
            this.getPortfolios();
            this.getCategories();
            this.isLoading = true;
        },
        methods: {
            portfolioScript(){
                $(document).ready(function(){
                    //===== Card ========
                    $('.post-module').hover(function() {
                        $(this).find('.description').stop().animate({
                            height: "toggle",
                            opacity: "toggle"
                        }, 300);
                    });
                    //===== Category wise data ========


                });
            },

            getPortfolios(slug) {
                let _this = this;
                let url = '/get-portfolios';
                if (slug) {
                    this.$router.push('/portfolios/'+slug);
                    url += '/'+slug;
                } else {
                    this.$router.push('/portfolios');
                }

                axios.get(url)
                    .then(function (resp) {
                        _this.categoryByPortfolio = resp.data.data;
                        if (resp.data.data){
                            _this.isLoading = false
                        }
                    })
                    .catch(function () {
                        alert("Could not load your data")
                    });
            },

            getCategories(){
                var _this = this;
                axios.get('/get-categories')
                    .then(function (resp) {
                        // console.log(resp.data)
                        _this.categories = resp.data
                    })
            },

        }
    }
</script>
