<template>
    <div>

        <div class="container-fluid" id="project-details-page">
            <section id="overview" class="d-flex justify-content-center align-items-center">
                <div class="overlay"></div>
                <div class="card">
                    <div class="card-body ">
                        <div class="row no-gutters justify-content-center align-items-center h-100">
                            <div class="col-md-6">
                                 <div class="text-center">
                                     <h1>  <strong>Bulk.ly</strong> </h1>
                                 </div>

                                <hr>
                                <div class="carosule-container">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" :src="'/assets/pro-img/demo-mobile1.jpeg'" alt="First slide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" :src="'/assets/pro-img/demo-mobile2.jpeg'" alt="Second slide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" :src="'/assets/pro-img/demo-mobile3.jpeg'" alt="Third slide">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>



                            </div>
                            <div class="col-md-6 pl-4">
                                <div class="right-content-bar pl-4">
                                    <h3 >What is bulk.ly?</h3>
                                    <hr>
                                    <p >
                                        Lorem ipsum dolor sit amet consectetur adipisicing <br> elit. Qui labore exercitationem, inventore consectetur <br> eius beatae voluptate iusto pariatur libero non odit, <br> consequuntur vero corporis maiores, amet eaque quo. <br> Necessitatibus, blanditiis!
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="details position-relative">
                <div class="overlay-details"></div>
                <div class="card card-body h-100 justify-content-center" style="background-color: #fffc;">
                    <div class="section-header">
                        <h4 class="text-center mb-2">Our offered features</h4>
                        <div style="width: 30%; height:2px; background-color:#43b3f5; margin:auto"></div>
                    </div>
                    <div class="row no-gutters">

                        <div class="col-md-5 ">
                            <div class="details-img-container text-right">
                                <img :src="'/assets/pro-img/details-page-demo.png'" width="800" height="650" alt="Our offered features">
                            </div>
                        </div>
                        <div class="col-md-2 divider-class">
                            <img :src="'/assets/pro-img/line-divider.png'" alt="Our offered features">
                        </div>
                        <div class="col-md-5">



                            <h3>Feature Lists</h3>
                            <hr>
                            <ul class="list-group">
                                <li class="list-group-item details-list-item">Lorem ipsum dolor, sit amet consectetur</li>
                                <li class="list-group-item details-list-item">adipisicing elit. Vitae, dolore iusto quos </li>
                                <li class="list-group-item details-list-item">cupiditate, similique commodi aut dolorum</li>
                                <li class="list-group-item details-list-item">rem eaque totam incidunt et excepturi </li>
                                <li class="list-group-item details-list-item">rem eaque totam incidunt et excepturi </li>
                                <li class="list-group-item details-list-item">rem eaque totam incidunt et excepturi </li>
                                <li class="list-group-item details-list-item">rem eaque totam incidunt et excepturi </li>
                                <li class="list-group-item details-list-item">rem eaque totam incidunt et excepturi </li>
                                <li class="list-group-item details-list-item">rem eaque totam incidunt et excepturi </li>
                            </ul>

                        </div>
                    </div>
                </div>

            </section>

            <section class="details position-relative">
                <div class="overlay-details"></div>
                <div class="card card-body h-100 justify-content-center" style="background-color: #fffc;">
                    <div class="section-header">
                        <h4 class="text-center mb-2">Clients Received the best out of it</h4>
                        <div style="width: 30%; height:2px; background-color:#43b3f5; margin:auto"></div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <div  class="float-right">
                                <h3>Feature Lists</h3>
                                <hr>
                                <ul class="list-group">
                                    <li class="list-group-item details-list-item">Lorem ipsum dolor, sit amet consectetur</li>
                                    <li class="list-group-item details-list-item">adipisicing elit. Vitae, dolore iusto quos </li>
                                    <li class="list-group-item details-list-item">cupiditate, similique commodi aut dolorum</li>
                                    <li class="list-group-item details-list-item">rem eaque totam incidunt et excepturi </li>
                                    <li class="list-group-item details-list-item">rem eaque totam incidunt et excepturi </li>
                                    <li class="list-group-item details-list-item">rem eaque totam incidunt et excepturi </li>
                                    <li class="list-group-item details-list-item">rem eaque totam incidunt et excepturi </li>
                                    <li class="list-group-item details-list-item">rem eaque totam incidunt et excepturi </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 divider-class">
                            <img :src="'/assets/pro-img/line-divider.png'" alt="Feature Lists">
                        </div>
                        <div class="col-md-5 ">
                            <div class="details-img-container text-right">
                                <img :src="'/assets/pro-img/mobile-clinet.png'" width="800" height="650" alt="Feature Lists">
                            </div>
                        </div>


                    </div>
                </div>

            </section>

            <section id="technology" class="mb-1">
                <div class="card card-body">
                    <div class="section-header">
                        <h4 class="text-center mb-2">Techonology we used</h4>
                        <div style="width: 30%; height:2px; background-color:#43b3f5; margin:auto"></div>
                    </div>
                    <div class="d-flex flex-row justify-content-center align-items-center ">
                        <ul class="d-flex flex-row" style="list-style: none">
                            <li class="m-5"><a href="" class="d-block"> <img :src="'/assets/pro-img/technology/laravel.png'" alt="laravel"></a> <span>laravel</span> </li>
                            <li class="m-5"><a href="" class="d-block"> <img :src="'/assets/pro-img/technology/mongodb.png'" alt="MongoDB"> </a><span>MongoDB</span></li>
                            <li class="m-5"><a href="" class="d-block"> <img :src="'/assets/pro-img/technology/mysql.png'" alt="MySql"> </a><span>MySql</span></li>
                            <li class="m-5"><a href="" class="d-block"> <img :src="'/assets/pro-img/technology/php.png'" alt="PHP"> </a><span>PHP</span></li>
                        </ul>
                    </div>
                </div>



            </section>
            <section>
                <div class="card card-header">
                    <div class="section-header">
                        <h4 class="text-center mb-2">clients feedback after project done</h4>
                        <div style="width: 30%; height:2px; background-color:#43b3f5; margin:auto"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="item">
                                <div class="row" style="padding: 20px">
                                    <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                                    <blockquote cite="http://www.worldwildlife.org/who/index.html"> <q> Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo en. </q></blockquote></blockquote><br>
                                    <div  style="margin: 0 auto">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <img src="http://demos1.showcasedemos.in/jntuicem2017/html/v1/assets/images/kiara.jpg"
                                                     class="img-thumbnail" width="150" height="150">
                                            </div>
                                            <div class="col-sm-10">
                                                <h4><strong>Kiara Andreson</strong></h4>
                                                <p class="testimonial_subtitle"><span>Chlinical Chemistry Technologist</span><br>
                                                    <span>Officeal All Star Cafe</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <hire-us class="mb-5"></hire-us>


        </div>
        <!-- End Portfolio Details -->


        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage"></loading>
        </div>

    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import HireUs from './includes/hire-us';

    export default {
        title: 'Portfolio | Details',
        data: function () {
            return {
                portfolioSlug: null,
                portfolio: [],
                portfolioObj: [],
                isLoading: false,
                fullPage: true
            }
        },

        components:{
            Loading,
            HireUs
        },

        mounted() {
            this.isLoading = true;
            this.getPortfolio();
        },

        methods: {
            getPortfolio(){
                let _this = this;
                let slug = _this.$route.params.slug;
                _this.portfolioSlug = slug;
                axios.get('/get-portfolio-details/' + slug)
                    .then(function (resp) {
                        // console.log(resp.data.obj)
                        _this.portfolio = resp.data;
                        _this.portfolioObj = resp.data.obj;
                        if (resp.data){
                            _this.isLoading = false
                        }
                    })
                    .catch(function () {
                        alert("Could not load your data")
                    });
            }
        }
    }
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Literata&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

    #overview{
        width: 100%;
        height: 100vh;
        background: url('../img/bg1.jpg');
        background-position: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        margin-bottom: 10px;

    }
    #overview .card{
        background-color: #ffffffcf;
    }
    .overlay{
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(10, 2, 2, 0.849);
    }
    .overlay-details{
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(251, 247, 247, 0.63);
    }
    .details{
        width: 100%;
        height: 100vh;
        background: url('../img/bg2.png');
        background-position: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-bottom: 10px;

    }

    .details p span h1 h2 h3 h4 h5 h6 {
        font-family: 'Literata', serif !important;
    }
    #overview  .short-description p{
        font-family: 'Crimson Text', serif;
        font-size: 26px;
        font-weight: 200;
        word-spacing: 1.5pc;
        letter-spacing: 2px;
    }

    .carosule-container{
        width: 500px;
        height: auto;
        text-align: center;
        margin: 0 auto;
    }


    .divider-class{
        height: 100%;
    }

    ul.list-group .details-list-item{
        border: none;
        position: relative;
    }
    ul.list-group  .details-list-item::before{
        position: absolute;
        content: "";
        background-image: url('../img/right-tick-sign.png');
        background-size: 20px 20px;
        left: 0;
        top: 2;
        width: 20px;
        height: 20px;
    }

    /* .feature-list-divider::before{
        position: absolute;
        content: "";
        background-image: url('');
        background-size: 0px 100%;
        left: 0;
        top: 0;
        width: 0px;
        height: 100%;
    } */
    .section-header{
        width: 30%;
        height: auto;
        border-bottom: 2px solid #43b3f5;
        margin: auto;
    }


    #technology{
        width: 100%;
        height: 20vh;
        background-color: #fff;
        margin-bottom: 10px;
    }

    #project-details-page .card{
        border: none;
    }



    .testimonial_subtitle{
        color: #0aaa7a;
        font-size: 12px;
    }
    .testimonial_btn{
        background-color: #373d4b !important;
        color: #fff !important;
    }
    .seprator {
        height: 2px;
        width: 56px;
        background-color: #0aaa7a;
        margin: 7px 0 10px 0;
    }

    blockquote
    {
        font-style:normal;
        margin-left:32px;
        font-family: 'Caveat', cursive;
        padding-left: 48px;
        /*background:url('../img/images/blockquote.png');*/
        background-repeat:no-repeat;
        min-height: 30px;
        font-size: 30px;
    }
    .container-fluid{
        margin-right: 0!important;
        margin-left: 0!important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        overflow: hidden;
    }

</style>
