<template>
    <div>
        <section class="stat-section section-gap portfolio-section" v-bind:style="{ backgroundImage:  'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(' + portfolio.image + ')' }">
            <div class="container">
                <div class="row section-title-wrap mt-30">
                    <div class="col-lg-12">
                        <div id="content-wrapper">
                            <!-- PAGE CONTENT -->
                            <div class="container">
                                <div class="well">
                                    <h4 class="mt-30 mb-30">Case Study</h4>
                                    <a v-bind:href="portfolioObj.url" target="_blank"><h1 class="mb-20">{{ portfolioObj.title }}</h1></a>
                                    <h4 class="mb-20"><strong>Service Provided:</strong> {{ portfolioObj.service_provided }}</h4>

                                    <button id="myButton" class="pot-btn active">
                                        EXPLORE <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </button>

                                    <button id="" v-if="portfolioObj.youtube_id" class="pot-btn active youtube-link-dark" v-bind:youtubeid="portfolioObj.youtube_id">
                                        Video <i style="color: red" class="fab fa-youtube" aria-hidden="true"></i>
                                    </button>
                                </div><!-- End Well -->
                            </div><!-- End Container -->
                            <!-- PAGE CONTENT -->
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="blog-post section-gap" id="myDiv">
            <div class="details-body">
                <div class="container">
                    <div class="row text-justify mt-30">
                        <div class="col-md-12 mb-100">
                            <div class="desc">
                                <h1 class="portfolio-title1 mb-10">About {{ portfolioObj.title }}</h1>
                                <p class="mb-0 portfolio-text text-justify font-24" v-html="portfolioObj.company_about"></p>
                            </div>
                        </div>

                        <div class="col-md-6" style="display: none">
                            <div class="desc">
                                <h1 class="portfolio-title1 mb-10">Solution</h1>
                                <p class="mb-0 portfolio-text text-justify font-24">{{ portfolioObj.solution }}</p>
                            </div>
                        </div>

                        <div class="col-md-6" style="display: none">
                            <div class="desc">
                                <h1 class="portfolio-title1 mb-10">Impact</h1>
                                <p class="mb-0 portfolio-text text-justify font-24">{{ portfolioObj.impact }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="blog-post section-gap portfolio-bg">
            <div class="details-body">
                <div class="container">
                    <div class="row text-justify mt-30">
                        <div class="col-md-12 mb-100">
                            <div class="desc">
                                <h1 class="portfolio-title1 mb-50">Features</h1>
                                <div class=" portfolio-text text-justify">
                                    <ul class="portfilio-feature-list">
                                        <div class="row">
                                            <div class="col-md-6" v-for="(feature, index) in portfolioObj.get_features">
                                                <li> <i class="fa fa-check"></i> {{ feature.title }}</li>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="brands-section background-color1 pb-60 pt-70">
            <div class="container">
                <div class="row justify-content-center brand-wrap" style="margin-top: -60px;">
                    <div class="col-md-12 text-center">
                        <h1 class="portfolio-title1">Technologies</h1>
                    </div>
                    <div class="col-md-2 col-3 mt-50 text-center" v-for="technology in portfolioObj.get_technologies">
                        <a href="#">
                            <img class="img-fluid" :src="'/media/technology/'+technology.technology.image" alt="Technologies" width="100">
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <section class="blog-post section-gap">
            <div class="">
                <div class="container">
                    <div class="row mt-30">
                        <div class="col-md-12 mb-30 text-center">
                            <h1 class="portfolio-title1">Project Highlights</h1>
                        </div>

                        <div class="col-md-6 mb-30" v-for="(portfolio_image, index) in portfolioObj.get_images">
                            <img class="img-fluid img-thumbnail portfolio-img" alt="Project Highlights" :src="'/media/portfolio-img/'+portfolio_image.image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="back-button" >
                <router-link class="btn third"  :to = "'/portfolios'">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true"> Back To Portfolios</i>
                </router-link>
            </div>
        </section>


        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
        </div>

    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import HireUs from './includes/hire-us';

    export default {
        title: 'Portfolio | Details',
        data: function () {
            return {
                portfolioSlug: null,
                portfolio: [],
                portfolioObj: [],
                isLoading: false,
                fullPage: true,
            }
        },

        components:{
            Loading,
            HireUs
        },

        mounted() {
            let _this = this;
            this.isLoading = true;
            this.getPortfolio();
            setTimeout(function(){ _this.pageScript(); }, 1000);
        },

        methods: {
            getPortfolio(){
                let _this = this;
                let slug = _this.$route.params.slug;
                _this.portfolioSlug = slug;
                axios.get('/get-portfolio-details/' + slug)
                    .then(function (resp) {
                        // console.log(resp.data.obj)
                        _this.portfolio = resp.data;
                        _this.portfolioObj = resp.data.obj;
                        if (resp.data){
                            _this.isLoading = false
                        }
                    })
                    .catch(function () {
                        alert("Could not load your data")
                    });
            },

            pageScript(){
                $(document).ready(function() {
                    $("#myButton").click(function() {
                        $('html, body').animate({
                            scrollTop: $("#myDiv").offset().top
                        }, 1000);
                    });

                    $(".youtube-link-dark").grtyoutube({
                        autoPlay:true,
                        theme: "light"
                    });
                })
            }
        }
    }
</script>

<style scoped>



</style>
