<template>
    <div>

        <section class="bl-panel-items" id="bl-panel-work-items">
            <div class="container">
                <div class="row justify-content-center section-title-wrap">
                    <div class="col-lg-12">
                        <div class="title-img">
                            <img :src="'/assets/img/title-icon.png'" alt="Mediusware showcase for you!">
                        </div>
                        <h1>Mediusware <span class="text-info">showcase</span> for you!</h1><br>
                        <p>We showcased some of our best crafted work</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-section section-gap" style="padding: 0!important;" v-bind:class="{ 'aquablue-bg': (indx % 2 === 0) }" v-for="(obj, indx) in portfolios">
            <div class="container">
                <div class="row align-items-center justify-content-between">

                    <div class="col-lg-6 text-center" v-if="indx % 2 === 0">
                        <router-link :to="{name: 'portfolioDetails', params: {slug: obj.slug}}">
                            <img class="img-fluid" :src="'/media/portfolio/'+ obj.image">
                        </router-link>
                    </div>
                    <div class="col-lg-6 about-left">
                        <router-link :to="{name: 'portfolioDetails', params: {slug: obj.slug}}">
                            <h1>{{obj.title}}</h1>
                        </router-link>
                        <p class="pt-20 pb-20 fadeInUp" v-html="obj.service_provided"></p>
                    </div>
                    <div class="col-lg-6 text-center" v-if="indx % 2 !== 0">
                        <router-link :to="{name: 'portfolioDetails', params: {slug: obj.slug}}">
                            <img class="img-fluid" :src="'/media/portfolio/'+ obj.image" :alt="obj.title">
                        </router-link>
                    </div>

                </div>

                <div class="mt-30">
                    <pagination :data="portfolioDate" v-on:pagination-change-page="getPortfolios"></pagination>
                </div>

            </div>
        </section>


        <!-- /#wrapper -->
        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage">
            </loading>
        </div>
    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import pagination from 'laravel-vue-pagination'

    export default {
        title: 'Portfolios',
        components: {
            Loading,
            pagination,
        },
        data: function () {
            return {
                categories: [],
                portfolios: [],
                portfolioDate: null,
                isLoading: '',
                fullPage: true,
            }
        },

        mounted() {
            let _this = this
            this.getPortfolios()
            this.isLoading = true;
        },
        methods: {
            getPortfolios(page){
                var _this = this;
                if (typeof page === 'undefined') {
                    page = 1;
                }
                axios.get('/get-portfolios-showcase?page=' + page)
                    .then(function (resp) {
                        // console.log(resp.data)
                        if (resp.data){
                            _this.isLoading = false
                        }
                        _this.portfolios = resp.data.data;
                        _this.portfolioDate = resp.data;
                    })
            },

        }
    }
</script>
<style scoped>
    .section-title-wrap{
        padding: 50px 0
    }
    @media (max-width: 767px) {
        .section-title-wrap{
            padding: 15px 0
        }
        .section-title-wrap h1{
            font-size: 25px!important;
        }
        .about-left h1{
            font-size: 26px!important;
            margin-top: 10px;
        }
    }
</style>
