<template>
    <div>
        <!-- Start page-top section -->
        <!-- service Details -->
        <section class="bl-panel-items" id="bl-panel-work-items">
            <div class="container">
                <div class="row justify-content-center section-title-wrap" style="padding: 50px 0">
                    <div class="col-lg-12">
                        <div class="title-img">
                            <img :src="'/assets/img/title-icon.png'" alt="Service Details">
                        </div>
                        <h1>Service<span class="text-info"> Details</span> </h1><br><br>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7">
                        <div class="project-thumb">
                            <img v-if="service.image" :src="service.image" v-bind:alt="serviceObj.title">
                            <img v-else="service.image" :src="'/assets/img/blog/b1.jpg'" v-bind:alt="serviceObj.title">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-5">
                        <div class="project-desc">
                            <h2 class="border-bottom"> {{ serviceObj.title }} </h2>
                            <p class="mt-30" v-html="serviceObj.description"></p>
                        </div>
                    </div>

                </div>
            </div>

        </section>
        <!-- End service Details -->


        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage"></loading>
        </div>

    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        title: 'service | Details',
        data: function () {
            return {
                serviceSlug: null,
                service: [],
                serviceObj: [],
                isLoading: false,
                fullPage: true
            }
        },

        components:{
            Loading
        },

        mounted() {
            this.isLoading = true;
            this.getService();
        },

        methods: {
            getService(){
                let _this = this;
                let slug = _this.$route.params.slug;
                _this.serviceSlug = slug;
                axios.get('/get-service-details/' + slug)
                    .then(function (resp) {
                        // console.log(resp.data.obj)
                        _this.service = resp.data;
                        _this.serviceObj = resp.data.obj;
                        if (resp.data){
                            _this.isLoading = false
                        }
                    })
                    .catch(function () {
                        alert("Could not load your data")
                    });
            }
        }
    }
</script>
