<template>
    <div>
        <!-- Start unique-feature Area -->
        <section class="client-review-section section-gap">
            <div class="container">

                <div class="row justify-content-center section-title-wrap">
                    <div class="col-lg-12">
                        <div class="title-img">
                            <img :src="'/assets/img/team.png'" alt="We are Mediusware">
                        </div>
                        <h1>We are <span class="text-info">Mediusware</span></h1><br>
                        <p>"Alone we can do so little; together we can do so much." – Helen Keller</p>
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-lg-4 col-md-4 col-sm-12 single-team " v-for="team in teams">
                        <router-link :to="{name: 'teamDetails', params: {slug: team.slug}}">
                        <div class="our-team">
                            <div v-if="team.avatar" class="pic"><img :src="'/media/team/'+team.avatar"></div>
                            <div v-else="" class="pic"><img :src="'/media/user.jpg'"></div>
                            <div class="team-content">
                                <h3 class="title">{{ team.name }}</h3>
                                <span class="post">{{ team.designation }}</span>
                                <span class="post">
                                    <span v-for="(skill, indx) in team.skills.slice(0,3)">
                                        <template v-if="indx!==0">, </template> {{ skill.skills_name }}
                                    </span>
                                </span>
                            </div>
                            <p class="social">
                                <span class="text-white">{{ team.tag_line }}</span>
                            </p>
                        </div>
                        </router-link>
                    </div>

                </div>
            </div>
        </section>
        <!-- End unique-feature Area -->
        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage">
            </loading>
        </div>

    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        title: 'Teams',
        components: {
            Loading
        },

        data: function () {
            return {
                teams: [],
                isLoading: false,
                fullPage: true,
            }
        },

        mounted() {
            this.getTeams()
            this.isLoading = true;
        },

        methods: {
            getTeams(){
                var _this = this;
                axios.get('/get-teams')
                    .then(function (resp) {
                        // console.log(resp.data)
                        if (resp.data){
                            _this.isLoading = false
                        }
                        _this.teams = resp.data
                    })
            },

        }


    }
</script>
